<!DOCTYPE html>
<html>
    <head>
        
        <link rel="stylesheet" href="/assets/css/blogStyle.css">
        <link rel="stylesheet" href="/assets/articlestyle.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/styles/railscasts.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/highlight.min.js"></script>        
        
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap" rel="stylesheet">

        <%- include ("partials/header") %>

        <% article.css.forEach(function(item) { %> 
            <link rel="stylesheet" href="<%= item %>">
        <% }); %> 
    </head>
    
    <body>

        <%- include ("partials/animation") %>                
        <%- include ("partials/navBar") %>
        <div class="scrollIndicator">
            <div class="scrollIndicatorFill"></div>
        </div>
        
        
        <article id="content">
            <p class="date"><%= article.date %></p>
            <h1><%= article.heading %></h1>
            
            <%- article.html %>
        </article>
       

        <%- include ("partials/footer") %>
        
        <% article.js.forEach(function(item) { %> 
            <script src="<%= item %>"></script>
        <% }); %> 

        <script src="/assets/config.js"></script>
        <script src="/assets/fade.js"></script>
        <script src="/assets/js/scrollIndicator.js"></script>
        <script>hljs.highlightAll();</script>
    </body>
    
    
</html> 