<!DOCTYPE html>
<html>
    <head>
        
        <link rel="stylesheet" href="assets/css/blogstyle.css">
                
        <%- include ("partials/header") %>
    </head>
    
    <body>
        <%- include ("partials/animation") %>                
        <%- include ("partials/navBar") %>
        
        
        <div id="content">
            
            <h1>Blog</h1>
            <% if (articleAttributes == 0) { %>
                <p style="text-align: center; width: 100%">Sorry, but here are no posts yet</p> 
             <% } %>
            <div id="articles">

                
                <% for (article in articleAttributes) { %>
                    <div class="article scrollFade scrollFocus">
                        <div class="articleHeaderWrapper">
                            <h2><%= articleAttributes[article].heading %> </h2>
                        </div>
                        
                        <div class="artcileImageWrapper">
                            <img src="<%= articleAttributes[article].image %>">
                        </div>
                        
                        <div class="articleText">
                            <p class="articleDate"><%= articleAttributes[article].date%></p>
                            <p class="articleDescription line-clamp"><%=  articleAttributes[article].description%></p>
                            
                        </div>
                        <div class="button secondButton buttonReading" onmousedown="window.location = '/article?name=<%= articleAttributes[article].name %>'">Continue Reading</div>
                    </div>

                <% } %>
            </div>
            
        </div>
        
        <%- include ("partials/footer") %>
        
        <script src="assets/config.js"></script>
        <script src="assets/fade.js"></script>

        <style>
            #content {
                padding: 0px;
                padding-top: 100px;
            }
            
        </style>
    </body>
    
    
</html> 