<!DOCTYPE html>
<html>
    <head>
        
        <link rel="stylesheet" href="assets/blogstyle.css">
                
        <%- include ("partials/header") %>
    </head>
    
    <body>
        <%- include ("partials/animation") %>                
        <%- include ("partials/navBar") %>
        
        
        <div id="content">
            
            <h1>Blog</h1>
            <% if (articleAttributes == 0) { %>
                <p style="text-align: center; width: 100%">Sorry, but here are no posts yet</p> 
             <% } %>
            <div id="articles">

                
                <% articleAttributes.forEach(element => { %>
                    <div class="article scrollFade scrollFocus">
                        <div class="articleHeader">
                            <h2><%= element.title %> </h2>
                        </div>
                        
                        <div class="artcileImage">
                            <img src="<%= element.image %>">
                        </div>
                        
                        <div class="articleText">
                            <p class="articleDate"><%= element.date%></p>
                            <p class="articleDescription line-clamp"><%= element.description %> </p>
                            
                        </div>
                        <div class="button secondButton buttonReading" onmousedown="window.location = '/blog?article=<%= element.name %>'">Continue Reading</div>
                    </div>

                <% }) %>
            </div>
            
        </div>
        
        <%- include ("partials/footer") %>
        
        <script src="assets/config.js"></script>
        <script src="assets/fade.js"></script>

        <style>
            #content {
                padding: 0px;
                padding-top: 100px;
            }
            
        </style>
    </body>
    
    
</html> 