<!DOCTYPE html>
<html>
    <head>
        <%- include ("partials/header") %>
        <link rel="stylesheet" href="assets/contactstyle.css">
    </head>
    
    <body>
        <%- include ("partials/animation") %>                
        <%- include ("partials/navBar") %>
        
        
        <script>
            function elementLeft(input) {
                let element = document.getElementById(input);
                
                if (element.value === "") {
                    element.style.border = '2px solid #E07A5F';
                } else {
                    element.style.border = '2px solid #e2e0cd';
                }
            }
        </script>
        
        <div id="content">
            
            <div id="contentLeft">
                <h1>Contact</h1>
                <div class="contactBox contactBoxRed">
                    <div class="contactBoxHeadingBlock contactBoxRedHeading">
                        <p>Mail</p>
                    </div>
                    <p>elias.peeters@icloud.com</p>
                    <p>elias.peeters@otto.de</p>
                </div>

                <div class="redLine2 scrollFade"></div>
                
                <div class="contactBox contactBoxRed">
                    <div class="contactBoxHeadingBlock contactBoxRedHeading">
                        <p>Phone</p>
                    </div>
                    <p>+49 (0) 172 3445175</p>
                </div>

                <div class="redLine2 scrollFade"></div>
                
                <div class="contactBox contactBoxRed">
                    <div class="contactBoxHeadingBlock contactBoxRedHeading">
                        <p>Location</p>
                    </div>
                    <p>Hamburg, Germany</p>
                </div>
            </div>

            
            <div id="contentRight">
                
                <form class="contactForm" action="/contact" method="post">
                    <p class="message" style="color: #E07A5F;"><%= error %></p>
                    <p class="message" style="color: #81B29A;"><%= success %></p>
                    <div class="inputDiv"> 
                        <input name="firstName" id="firstName" type="text" class="inputText" onfocusout="elementLeft('firstName')" onkeyup="elementLeft('firstName')">
                        <input name="lastName" id="lastname" type="text" class="inputText" onfocusout="elementLeft('lastname')" onkeyup="elementLeft('lastname')"> 
                    </div>
                    
                    <div class="inputDiv">
                        <p>First Name*</p>
                        <p>Last Name*</p>
                    </div>
                    
                    <div class="inputDiv">
                        <input name="mail" type="text" class="inputText">
                        <input name="subject" id="subject" type="text" class="inputText" onfocusout="elementLeft('subject')"
                        onkeyup="elementLeft('subject')">
                    </div>
                    
                    <div class="inputDiv">
                        <p>Mail</p>
                        <p>Subject*</p>
                    </div>
                    
                    <textarea class="contactTextArea" name="message" cols="40" rows="5"></textarea>
                    
                    <input class="button secondButton submitButton" type="submit" value="Send">
                    
                </form>    
            </div>
                
            
        </div>


        <%- include ("partials/footer") %>
        
        <script src="assets/config.js"></script>
        <script src="assets/fade.js"></script>
    </body>
    
    
</html> 