<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="assets/css/cv-style.css">

        <%- include ("partials/header") %>
        
    </head>
    
    <body id="body">
        <%- include ("partials/animation") %>                
        <%- include ("partials/navBar") %>
        <div class="blackBackground" onclick="closeMoreModal()"></div>


        <div class="content">
            
            <div class="contentLeft">
                <h1 class="mobileHeading">CV</h1>
                <div class="imageWrapper">
                    <img class="imageCVPortrait desktopImage" src="/assets/images/empty.png">
                </div>
                
                <h1 class="desktopHeading">Elias Peeters</h1>
                <h1 class="desktopDesription">20 years old</h1>
                <h1 class="desktopDesription">from Hamburg</h1>

                <div style="margin: 20px auto" class="button newButton" onclick="openPage('/cv-pdf')">Download CV</div>
            </div>
            
            <div id="cv" class="contentRight">

                <h1 class="desktopHeading">CV</h1>
                
                <div class="cvSwitch switchLeft">
                    <div class="switchMover"></div>
                    <div class="switchItem switchItemLeft">Categorized</div>
                    <div class="switchItem switchItemRight">Timebased</div>
                </div>

                <div class="cvSortedByCategory visible">
                    <% let counter = 0 %> 
                    <% CVDataKeys.forEach((cvKey, index) => { %>
                        <h3 class="scrollFade"><%= cvKey %></h3>
                        <h3 class="scrollFade"><%= cvDataPrintNames[index] %></h3>
                        <% if (CVDataByCategory[cvKey][0].categoryType == 'Block') { %>
                            <% for(let i = 0; i < CVDataByCategory[cvKey].length; i++) { %>
                                <div class="scrollFade">
                                    <div class="cvBlock cv<%= CVDataByCategory[cvKey][i].color %>  scrollFocus">
                                        <div class="cvBlockHeadingBlock cvHeading">
                                            <p><%= CVDataByCategory[cvKey][i].heading %></p>
                                        </div>
                                        <div class="cvBlockContent">
                                            <div class="cvBlockContentWrapper">
                                                <div class="cvBlockContentWrapper_Left">
                                                    <img src="/assets/images/cvIcons/<%= CVDataByCategory[cvKey][i].icon %>">
                                                </div>
                                                <div class="cvBlockContentWrapper_Right">
                                                    <% CVDataByCategory[cvKey][i].content.forEach((content, counter) => { %>
                                                        <p class="cvContentHeading"><%= content.heading %></p>
                                                        <p class="cvTime"><%= content.time %></p>
                                                        <p class="cvDescrip"><%- content.description %></p> 

                                                        <% if (counter+1 != CVDataByCategory[cvKey][i].content.length) { %>
                                                            <div class="cvContentSpacer"></div>
                                                        <% } %>
                                                    <% }) %>
                                                </div>
                                            </div>
                                            
                                            
                                        </div>
                                        
                                        <!-- The More Content Button -->
                                        <% if (CVDataByCategory[cvKey][i].hasMoreContent == 1) { %>
                                            <div class="cvMoreButton " onclick="openMoreModal(<%= counter %>, `<h3><%= CVDataByCategory[cvKey][i].moreContentHeading %></h3><p class='dateString'><%= CVDataByCategory[cvKey][i].timeString %></p><%= CVDataByCategory[cvKey][i].moreContent %>`)">
                                                <p class="cvMoreButtonText cvMoreButtonText<%= counter %> ">More</p>
                                            </div>
                                        <% } %>
                                        
                                    </div>
                                    <% if (i != CVDataByCategory[cvKey].length - 1) { %>
                                    <div class="cvLine"></div>
                                    <% } %>
                                </div>
                                <% counter++ %> 
                            <% } %> 
                        <% } else { %>
                            <div id="languageCardsDiv">
                            <% for(let i = 0; i < CVDataByCategory[cvKey].length; i++) { %>
                                <div class="languageCard scrollFade scrollFocus">
                                    <img class="languageCardImage" src="/assets/images/cvIcons/<%=CVDataByCategory[cvKey][i].icon %>">
                                    <p><%= CVDataByCategory[cvKey][i].heading %></p>
                                <p class="languageDescrip"><%- CVDataByCategory[cvKey][i].description %></p>
                            </div> 
                            <% } %>
                            </div>
                        <% } %>
                    
                    <% }); %> 

                    <div id="spacer"></div>
                </div>


                <div class="sortedByTime">
                    <% for(let i = 0; i < CVDataByTimeKeys.length; i++) { %>
                        <div class="blockYear <%= CVDataByTimeKeys[i]  %> ">
                            <div class="yearPart scrollFade border">
                                <p><%= CVDataByTimeKeys[i]  %></p>
                            </div>
                            
                            <div class="cvPart">
                            <% for(let ii = 0; ii < CVDataByTime[CVDataByTimeKeys[i]].length; ii++) { %>
                                <div class="scrollFade">
                                    <div class="cvBlock cv<%= CVDataByTime[CVDataByTimeKeys[i]][ii].color %>  scrollFocus">
                                        <div class="cvBlockHeadingBlock cvHeading">
                                            <p><%= CVDataByTime[CVDataByTimeKeys[i]][ii].heading %></p>
                                        </div>
                                        <div class="cvBlockContentWrapper">
                                            <div class="cvBlockContentWrapper_Left">
                                                <img src="/assets/images/cvIcons/<%= CVDataByTime[CVDataByTimeKeys[i]][ii].icon %>">
                                            </div>
                                            <div class="cvBlockContentWrapper_Right">
                                                    <p class="cvTime"><%= CVDataByTime[CVDataByTimeKeys[i]][ii].timeString %></p>
                                                    <p class="cvDescrip"><%- CVDataByTime[CVDataByTimeKeys[i]][ii].description %></p> 
                                            </div>
                                        </div>
                                        <!-- <p><%= CVDataByTime[CVDataByTimeKeys[i]][ii].timeString %></p>
                                        <p class="cvDescrip"><%- CVDataByTime[CVDataByTimeKeys[i]][ii].description %></p> -->
                                        <div class="cvLineVertical"></div>
                                        
                                    </div>
                                    <% if (ii == CVDataByTime[CVDataByTimeKeys[i]].length - 1) { %>
                                        <div class="cvTimeSpacer"></div>
                                    <% } %>
                                </div>
                            <% } %>   
                            </div>
                        </div> 
                    <% } %> 
                    <div class="blockYear">
                        <div class="yearPart scrollFade">
                            <p>Present</p>
                        </div>
                        
                        <div class="cvPart">
      
                        </div>
                    </div> 

                </div>
                
                <div id="spacer"></div>
                
            </div>
            
        </div>


        <%- include ("partials/footer") %>
        
        <script src="assets/config.js"></script>
        <script src="/assets/js/frontFileLoaderCV.js"></script>
        <script src="assets/fade.js"></script>
        <script src="/assets/js/cvSwitch.js"></script>
        <script src="/assets/js/cv/openMoreModal.js"></script>

    </body>
    
    
</html> 