<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="assets/css/mainStyle.css">
        <link rel="stylesheet" href="assets/css/searchStyle.css">
        
        <%- include ("partials/header") %>
    </head>
    
    <body id="body">
        <%- include ("partials/animation") %>                
        <%- include ("partials/navBar") %>

        <%- include ("partials/searchPopUp") %>
        
        <div id="content">
            <div class="imagePortraitWrapper">
                <img class="imagePortrait" src="/assets/images/portraits/portrait<%= image %>.png">
            </div>
        
            <div class="contentRightWrapper">
                <h1 class="nameHeading">Elias Peeters</h1>
                <h3 class="introductionHeading">A quick introduction</h3>
                
                <div class="introductionWrapper">
                    <p class="introduction">Hi, I am professional programmer working at OTTO. Awesome that you found your way here to my personal website. You can find here my projects, papers and CV. Also a Blog may be part of it in the future so be strechted. </p>
                </div>
                
                
                <div class="mainButtonWrapper">
                    <div class="button firstButton buttonMain newButton newButtonRed" onmousedown="window.location = '/cv'">CV</div>
                    <div class="button secondButton buttonMain newButton" onmousedown="window.location = '/podcast'">Podcast</div>
                    <div class="button thirdButton buttonMain newButton newButtonGreen" onmousedown="window.location = '/contact'">Contact</div>
                </div>
                    
            </div>
        </div>

        <%- include ("partials/footer") %>
    </body>    
</html>