<!DOCTYPE html>
<html>
    <head>
        
        <link rel="stylesheet" href="assets/css/paperStyle.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/styles/railscasts.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/highlight.min.js"></script>        
        
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap" rel="stylesheet">

        <%- include ("partials/header") %>

    </head>
    
    <body>

        <%- include ("partials/animation") %>                
        <%- include ("partials/navBar") %>
        
        
        <article id="content">
            <p class="date"><%= paper.date %></p>
            <h1><%= paper.heading %></h1>
            <div class="paperPopUp" onmouseleave="closePaperPopUp(true)">
                <div class="popupCloser" onmouseover="closePaperPopUp(true)"></div>
                <div class="popUp">
                    <div class="popTitle">
                        <p class="paperPopUpTitle">Title</p>
                    </div>
                    <div class="popUpContent">
                        
                    </div>
                    
                </div>
            </div>
            <div onclick="closePaperPopUp()">
                <%- paper.paper %>
            </div>
        </article>
       
        <%- include ("partials/footer") %>
        
        <script src="assets/config.js"></script>
        <script src="assets/fade.js"></script>
        <script src="/assets/js/paperPopUp.js"></script>
        <script>hljs.highlightAll();</script>
    </body>
    
    
</html> 