<!DOCTYPE html>
<html>
    <head>
        
        <link rel="stylesheet" href="/assets/css/blogStyle.css">
        <link rel="stylesheet" href="/assets/css/posts.css">
                
        <%- include ("partials/header") %>
    </head>
    
    <body>
        <%- include ("partials/animation") %>                
        <%- include ("partials/navBar") %>
        
        
        <div id="content">
            
            <h1>Posts</h1>

            <%- include ("partials/post") %>
            
        </div>
        
        <%- include ("partials/footer") %>
        
        <script src="assets/config.js"></script>
        <script src="assets/fade.js"></script>

        <style>
            #content {
                padding: 0px;
                padding-top: 100px;
            }
            
        </style>

        <script src="assets/fade.js"></script>
    </body>
    
    
</html> 