<% if (blogSearch.length > 0) { %>
    <h3>Blog</h3>
    <% blogSearch.forEach(function(item, index) { %>
        <div class="searchItem">
            <p onmousedown="openPage('<%= item.item.url %>')"><%= item.item.title %></p>
        </div>
    <% });  %> 
<% } %>


<% if (pagesSearch.length > 0) { %>
    <h3>Pages</h3>
    <% pagesSearch.forEach(function(item, index) { %>
        <div class="searchItem">
            <p onmousedown="openPage('<%= item.item.url %>')"><%= item.item.page %></p>
        </div>
    <% });  %> 
<% } %>

<% if (cvSearch.length > 0) { %>
    <h3>CV</h3>
    <% cvSearch.forEach(function(item, index) { %>
        <div class="searchItem">
            <p onmousedown="openPage('<%= item.item.url %>')"><%= item.item.element %></p>
        </div>
    <% });  %> 
<% } %>

<% if (contentSearch.length > 0) { %>
    <h3>In articles</h3>
    <% contentSearch.forEach(function(item, index) { %>
        <div class="searchItem">
            <p onmousedown="openPage('<%= item.item.url %>')">In <%= item.item.name %></p>
        </div>
    <% });  %> 
<% } %>