<!DOCTYPE html>
<html>
    <head>
        
        <link rel="stylesheet" href="/assets/css/shop.css">
                
        <%- include ("partials/header") %>
    </head>
    
    <body>
        <%- include ("partials/animation") %>                
        <%- include ("partials/navBar") %>
        
        
        <div id="content">
            
            <h1>Shop</h1>

            <div class="products">
                <%- include ("shoparticles/test") %>

                <%- include ("shoparticles/test2") %>
            
            </div>
        </div>
        
        <%- include ("partials/footer") %>
        
        <script src="/assets/config.js"></script>
        <script src="/assets/fade.js"></script>
    </body>
    
    
</html> 